<html>
  <head />
  <body>
    <div>
      <div>
        <section
          aria-atomic="false"
          aria-label="Notifications Alt+T"
          aria-live="polite"
          aria-relevant="additions text"
          class="Toastify"
        />
        <h1 data-testid="welcome_header">Welcome, testUser</h1>
        <button>Logout</button>
        <div>
          <h2>Create Post</h2>
          <input class="name_input" placeholder="Post Name" value="" />
          <div class="create_rows">
            <div class="row">
              <input placeholder="Computer Part" type="text" value="" />
              <input
                max="1000"
                min="0"
                placeholder="Price"
                step="any"
                type="number"
                value="0"
              />
            </div>
            <div class="row">
              <input placeholder="Computer Part" type="text" value="" />
              <input
                max="1000"
                min="0"
                placeholder="Price"
                step="any"
                type="number"
                value="0"
              />
            </div>
            <div class="row">
              <input placeholder="Computer Part" type="text" value="" />
              <input
                max="1000"
                min="0"
                placeholder="Price"
                step="any"
                type="number"
                value="0"
              />
            </div>
            <div>
              <p data-testid="total_price">Total price: 0</p>
            </div>
          </div>
          <button data-testid="creation_button">Create Post</button>
        </div>
        <h2>Posts:</h2>
        <div class="Post-div" data-testid="Post-div">
          <section
            aria-atomic="false"
            aria-label="Notifications Alt+T"
            aria-live="polite"
            aria-relevant="additions text"
            class="Toastify"
          />
          <div class="posts-top-div">
            <h3>A1</h3>
            <strong data-testid="uploader"> Posted by: testUser </strong>
          </div>
          <div>
            <p>Part: a11 Price: 5</p>
          </div>
          <div>
            <p>Part: a12 Price: 7</p>
          </div>
          <div>
            <p>Part: a13 Price: 3</p>
          </div>
          <div>
            <p />
          </div>
          <div>
            <p data-testid="total_price_post">Total price: 15.00</p>
          </div>
          <button data-testid="update_button">Update</button>
          <button data-testid="delete_button">Delete</button>
        </div>
      </div>
    </div>
  </body>
</html>
...
